# ignore all files but this file
/*
*/:
!/.gitignore

# except config files but not test config
!/config*/
/config_test*/
# ignore files in config directories
/config*/*
# except given files
!/config*/car.txt
!/config*/road.txt
!/config*/presetAnswer.txt
# special files in checking directories
!/config*-check*/判题结果.txt
!/config*-check*/answer.txt

# code files
!/*.h
!/*.cpp

# project files
!CodeCraft2019.vcxproj